body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #12BAC5;
}

h2 {
    text-align: center;
}
#ordinateur {
    display: flex;
    background-color: #fff;
    border: 1px solid black;
    width: 160px;
    height: 100px;
    text-align: right;
}
.btn-group {
    display: inline-flex;
    background-color: #fff;
    margin: 15px;
    padding: 10px;
}
 .start {
    display: flex;
    flex-direction: row-reverse;
    margin: 80px;
}

#computer {
    background-color: #ffffff;
    width: 80px;
    height: 80px;
}





