body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#ordinateur {
    text-align: right;
    
}

#joueur {
    text-align: left;
}

#play {
    display: flex;
    flex-direction: row;
    justify-content: right;
}